header {
    zoom: 1.2;
}

header h1 {
    margin-bottom: 5px;
}

header h1 a {
    color: #494949;
    font-weight: bold;
}

header h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}

header p.view {
    margin-bottom: 5px;
}

header p.view small {
    padding-top: 2px;
}

header ul {
    zoom: 0.7;
    margin-top: 25px;
}

section p {
    margin-top: 10px;
}

section h1 {
    margin-bottom: 15px;
}

section h2 {
    margin-bottom: 10px;
}

section h2 {
    margin-bottom: 10px;
}

footer {
    bottom: 20px;
}

footer p {
    margin-bottom: 5px;
}

.half-width {
    float: left;
    width: 200px;
    list-style: none;
    padding: 5px;
    margin: 7px;
    margin-bottom: 10px;
}


/* retina */
@media (min--moz-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    em.clearly_highlight_element {
        background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow@2x.png");
    }

    em.clearly_highlight_element a.clearly_highlight_delete_element {
        background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite@2x.png");
        background-size: 68px 34px;
    };
} </style><style type="text/css"></style><style>[touch-action="none"] {
    -ms-touch-action: none;
    touch-action: none;
}

[touch-action="pan-x"] {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

[touch-action="pan-y"] {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"] {
    -ms-touch-action: pan-x pan-y;
    touch-action: pan-x pan-y;
}

/*Project box stuff*/
.projectbox{
    border: 1px solid #95a5a6;
    max-width: 496px;
    background: #E9E9E9;
    margin: 0px 0px 30px 0px;
}

.p-title{
    text-align:center;
    
}
.pimage-container {
    margin: 10px 10px 10px 10px;
}