<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-X74SS5TTP5"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-X74SS5TTP5");
</script>

<!-- Datadog RUM -->
<script>
  (function (h, o, u, n, d) {
    h = h[d] =
      h[d] || {
        q: [],
        onReady: function (c) {
          h.q.push(c);
        },
      };
    d = o.createElement(u);
    d.async = 1;
    d.src = n;
    d.crossOrigin = "";
    n = o.getElementsByTagName(u)[0];
    n.parentNode.insertBefore(d, n);
  })(
    window,
    document,
    "script",
    "https://www.datadoghq-browser-agent.com/us1/v6/datadog-rum.js",
    "DD_RUM"
  );

  window.DD_RUM.onReady(function () {
    window.DD_RUM.init({
      clientToken: "puba4d69d102cb3daa057bc63ac34955a76",
      applicationId: "7024b837-bfd1-41a0-802f-c3aaad4fbf63",
      site: "datadoghq.com",
      service: "personal-site",
      env: "prod",
      // version: '1.0.0',
      sessionSampleRate: 100,
      sessionReplaySampleRate: 20,
      trackBfcacheViews: true,
      defaultPrivacyLevel: "mask-user-input",
    });
  });
</script>
